%html
  %head
    %title jQuery.cutiepie
    %link(rel="stylesheet" href="/stylesheets/application.css")
    %script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js")
    %script(type="text/javascript" src="/javascript/lib/raphael.js")
    %script(type="text/javascript" src="/javascript/jquery.cutiepie.js")
    %script(type="text/javascript" src="/javascript/demo.js")
    %script(type="text/javascript" src="http://use.typekit.com/aqp8xdq.js")
    :javascript
      try{Typekit.load();}catch(e){}
  %body
    #wrapper
      %hgroup
        %h1<>
          jQuery
          %span<> .cutiepie
        %h2 a cute little pie chart plugin
      %p
        by
        %a(href="http://camerondaigle.com") Cameron Daigle
      %p Build from a UL:
      %ul#defaults
        %li 50
        %li 30
        %li 12
        %li 8
        %li 5
      %p Build from a DL:
      %dl#color_classes
        %dt Pecan
        %dd.pecan 50
        %dt Cherry
        %dd.cherry 30
        %dt Blackberry
        %dd.blackberry 8
        %dt Key Lime
        %dd.keylime 5
      %p Build from an array
      %p#array_data 394 of one thing, 340 of another, 1000 total things
